.p-50{
    width: 50px;
}


#herosection{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.colorseccionpar{
    background-color: #0E1555;
}

.colorseccionimpar{
    background-color: #0E133F;
}

#video{
    width: 50%;
}


@media only screen and (width<800px){
    
    #video{width: 100%;}
    #carouselExampleCaptions img{
        width: 80%!important;
    }
    #seccionesfooter{
        width: 75%;
        margin: auto;
    }
}

.colorcards{
    background: linear-gradient(to bottom right, #990099, #003366);
}

nav a:hover{
    color: red!important;
}

.mb-aut{
    margin-bottom: 10vh;
}

