/****************************************/
/*     StyleSheet: Dawn of the seven    */
/*     Made by: Boris Gallego Ríos      */
/*     Versión 1.0                      */
/****************************************/


.p-50{
    width: 50px;
}

/*estilos de la hero section*/
#herosection{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

/*el color de las secciones pares*/
.colorseccionpar{
    background-color: #0E1555;
}

/*el color de las secciones impares*/
.colorseccionimpar{
    background-color: #0E133F;
}

/*el video ocupa de forma predefinida el 50% del espacio*/
#video{
    width: 50%;
}


@media only screen and (width<800px){
    
    /*Hace que el video del trailer ocupe el 100% de la pantalla*/
    #video{width: 100%;}

    /*hace que las fotos del carousel se hagan mas grandes*/
    #carouselExampleCaptions img{
        width: 80%!important;
    }

    /*el footer se hace un poco mas grande y se centra*/
    #seccionesfooter{
        width: 75%;
        margin: auto;
    }

    /*se cambia el fondo de pantalla*/
    #herosection{
        background-image: url(../img/poster.jpg);
    }

    /*se hace el formulario mas grande*/
    #formulario{
        width: 100%!important;
    }

    /*pone las flechas del carousel un poco mas a los lados*/
    .carousel-control-next {
        right: -40px;
    }
    .carousel-control-prev {
        left: -40px;
    }

    
}


/*Animación de las imagenes de la hero section al pasar el raton por encima*/
.carousel-item img:hover{
    
    animation: glow 1.5s infinite alternate;
    
}

@keyframes glow {
    from {
      box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5); /* Establecer el efecto de brillo */
    }
    to {
      box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8); /* Incrementar el brillo */
    }
  }

/*fondo de gradiente de colores que tienen las cards*/
.colorcards{
    background: linear-gradient(to bottom right, #990099, #003366);
}

/*pone el color rojo a las palabras que hay en el nav cuando las tocamos*/
nav a:hover{
    color: red!important;
}

.mb-aut{
    margin-bottom: 10vh;
}

/*mueve el indicador del carousel hacia abajo*/
.carousel-indicators{
    bottom: -45px;
}


/*cambia el color del accordion y lo hace un poco mas grande*/
.accordion-button{
    background-color: #2713a1;
    padding: 35px;
    
}


/*cambia el color del acordion cuando este se abre*/
.accordion-button:not(.collapsed) {
    background-color: #2713a1;

}

/*Cambiar color icono carousel a color rojo*/
.carousel-indicators [data-bs-target] {
    background-color: red;
}

/*El tamaño de la casilla mensaje del formulario*/
#mensajelargoform{
    height: 300px;
}

/*da el formato de las imagenes del footer*/
footer svg{
    font-size: 5em!important;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

/*pone de color rojo los iconos de las redes sociales cuando pasas el raton por encima*/
footer svg:hover{
    color:red!important;
}

/*importa las fuentes de letra*/
@font-face {
    font-family: fuentenormal;
    src: url(../fonts/SourceSansPro-Black.ttf);
}

@font-face {
    font-family: italic2;
    src: url(../fonts/SourceSansPro-Italic.ttf);
}

/*Aplica las fuentes de letra*/
h1,h4,h5{
    font-family: italic2;
}

*{
    font-family: fuentenormal;
}

